<div align="center">
	<img src="media/Accel-Makers-Notion-Banner2.png" alt="Public Good App House - Accelerating Makers">
</div>

---

[![Awesome](https://awesome.re/badge.svg)](https://awesome.re)

### DWeb for Impact: Solutions for Non-Profits and Educational Instittions

The following Awesome list of non-profit and educational institution Decentralized Web ([DWeb](https://wiki.mozilla.org/Dweb)) use cases, examples solutions, and tools was curated by [Accelerating Makers](https://acceleratingmakers.publicgoodapphouse.org/), a program of Public Good App House and [TechSoup](https://www.techsoup.org/) that is helping technology builders and nonprofits co-create purpose-built tools for public good.

<p align="center">
	<a href="awesome.md">What is an awesome list?</a>&nbsp;&nbsp;&nbsp;
	<a href="contributing.md">Contribution guide</a>&nbsp;&nbsp;&nbsp;
	<a href="create-list.md">Creating a list</a>&nbsp;&nbsp;&nbsp;
	<a href="https://twitter.com/awesome__re">Twitter</a>&nbsp;&nbsp;&nbsp;
</p>

---

## Contents
- [Awesome List](readme.md)
- [Financial Transactions](#financial-transactions)
- [Local Community Networks](#local-community-networks)

---

## Data Storage and Verification

- ### Arweave
	- [https://www.arweave.org/](https://www.arweave.org/) - The Arweave network is like Bitcoin, but for data: A permanent and decentralized web inside an open ledger.
- ### Cello Trust - Samsung SDS
	- [https://www.samsungsds.com/en/blockchain-logistics-platform/cello-trust.html](https://www.samsungsds.com/en/blockchain-logistics-platform/cello-trust.html) - Developed by combining Samsung SDS’ blockchain technology and logistics expertise, Cello Trust ensures tamper-proof, secure information across all stages of a supply chain.
- ### Content Authenticity Initiative
	- [https://contentauthenticity.org/](https://contentauthenticity.org/) - Authentic storytelling through digital content provenance. We are a community of media and tech companies, NGOs, academics, and others working to promote adoption of an open industry standard for content authenticity and provenance.
- ### Evercity
	- [https://evercity.io/](https://evercity.io/) - Evercity platform automates management, issuance and monitoring of sustainable finance. We make it easier, cheaper and more transparent for banks, funds, corporates and SMEs.
- ### Filecoin
	- [https://filecoin.io/](https://filecoin.io/) - Filecoin is a decenteralized storage network designed to store humanity's most important information.
- ### GAP (Karma)
	- [https://gap.karmahq.xyz/](https://gap.karmahq.xyz/) - Annually, the crypto ecosystem issues grants amounting to millions of dollars. While this funding is crucial for ecosystem growth, it has also introduced a range of issues. The Grantee Accountability Protocol (GAP) is designed to address these challenges by aiding grantees in building their reputation, assisting communities in maintaining grantee accountability, and enabling third parties to develop applications using this protocol.
- ### GiveTrack
	- [https://www.givetrack.org](https://www.givetrack.org) - The future of philanthropy is real-time tracking of funds and driving more outcomes on the ground. Join us in leveraging blockchain technology to revolutionize philanthropy.

- ### Grain Discovery
	- [https://graindiscovery.com/home](https://graindiscovery.com/home) - Get a personalized origination, traceability and producer management system. Built for growth, Grain Discovery serves Elevators, Processors, Seeds, Feedlots, Brokers, and Grain Advisors

- ### ixo Protocol
	- [https://www.ixo.world/](https://www.ixo.world/) - The ixo Protocol defines a new standard for making Verifiable Impact Claims to measure and report on how people and organisations are changing the state of the world, using high-definition data as evidence.
- ### MOSIP
	- [https://www.mosip.io/](https://www.mosip.io/) - Empowering Lives One Unique ID at a Time. MOSIP offers countries modular and open-source technology to build and own their national identity systems.
- ### MuckRock
	- [https://www.muckrock.com/](https://www.muckrock.com/) - File, track, and share public records requests.
- ### Open Referral
	- [https://openreferral.org/](https://openreferral.org/) - Open Referral develops data standards and open source tools that make it easier to share, find and use information about health, human, and social services.Open Referral is not another software product – it’s a call to action.
- ### OpenSC
	- [https://opensc.org](https://opensc.org) - VERIFY low-carbon and sustainable food production at source.
- ### ProofMode
	- [https://proofmode.org](https://proofmode.org) - ProofMode is a system that enables authentication and verification of multimedia content, particularly captured on a smartphone, from point of capture at the source to viewing by a recipient. It utilizes enhanced sensor-driven metadata, hardware fingerprinting, cryptographic signing, and third-party notaries to enable a pseudonymous, decentralized approach to the need for chain-of-custody and “proof” by both activists and everyday people alike.
- ### Starling Lab
	- [https://www.starlinglab.org/](https://www.starlinglab.org/) - The Starling Lab for Data Integrity prototypes tools and principles to bring historians, legal experts and journalists into the new era of Web3.
