<div class="row-layout group">
  <div class="column-layout group_1">
    <div class="column-layout group_2">
      <div class="row-layout group_3">
        <div class="row-layout group_4">
          <p class="ig-typography__subtitle-2 text">
            UPCOMING APPOINTMENTS
          </p>
        </div>
      </div>
      <igx-list class="list">
        <igx-list-item [isHeader]="false">
          <span igxListLine>
            <div class="row-layout group_5">
              <div class="row-layout group_6">
                <img src="/assets/appt-upcoming.svg" class="image" />
                <div class="column-layout group_7">
                  <p class="ig-typography__subtitle-2 content">
                    Internal Medicine
                  </p>
                  <p class="ig-typography__caption content">
                    Tuesday, January 24, 2023 - 2:30pm - Dr. M. Matthews
                  </p>
                </div>
              </div>
              <button igxButton="icon" igxRipple class="button">
                <igx-icon>
                  keyboard_arrow_right
                </igx-icon>
              </button>
            </div>
          </span>
        </igx-list-item>
        <igx-list-item [isHeader]="false">
          <span igxListLine>
            <div class="row-layout group_5">
              <div class="row-layout group_6">
                <img src="/assets/appt-upcoming.svg" class="image" />
                <div class="column-layout group_7">
                  <p class="ig-typography__subtitle-2 content">
                    Dermatology
                  </p>
                  <p class="ig-typography__caption content">
                    Friday, February 24, 2023 - 08:45am - Dr. V. Sawyer
                  </p>
                </div>
              </div>
              <button igxButton="icon" igxRipple class="button">
                <igx-icon>
                  keyboard_arrow_right
                </igx-icon>
              </button>
            </div>
          </span>
        </igx-list-item>
        <igx-list-item [isHeader]="false">
          <span igxListLine>
            <div class="row-layout group_5">
              <div class="row-layout group_6">
                <img src="/assets/appt-upcoming.svg" class="image" />
                <div class="column-layout group_7">
                  <p class="ig-typography__subtitle-2 content">
                    Gynaecology
                  </p>
                  <p class="ig-typography__caption content">
                    Monday, March 6, 2023 - 6:30pm - Dr. J. Dean
                  </p>
                </div>
              </div>
              <button igxButton="icon" igxRipple class="button">
                <igx-icon>
                  keyboard_arrow_right
                </igx-icon>
              </button>
            </div>
          </span>
        </igx-list-item>
      </igx-list>
    </div>
    <div class="column-layout group_2">
      <div class="row-layout group_3">
        <div class="row-layout group_4">
          <p class="ig-typography__subtitle-2 text">
            RECENT
          </p>
        </div>
      </div>
      <igx-list class="list">
        <igx-list-item [isHeader]="false">
          <span igxListLine>
            <div class="row-layout group_5">
              <div class="row-layout group_6">
                <img src="/assets/appt-past.svg" class="image" />
                <div class="column-layout group_7">
                  <p class="ig-typography__subtitle-2 content">
                    Oftalmology
                  </p>
                  <p class="ig-typography__caption content">
                    Thursday, January 12, 2023 - Dr. H. Chandler
                  </p>
                </div>
              </div>
              <button igxButton="icon" igxRipple class="button">
                <igx-icon>
                  keyboard_arrow_right
                </igx-icon>
              </button>
            </div>
          </span>
        </igx-list-item>
        <igx-list-item [isHeader]="false">
          <span igxListLine>
            <div class="row-layout group_5">
              <div class="row-layout group_6">
                <img src="/assets/appt-past.svg" class="image" />
                <div class="column-layout group_7">
                  <p class="ig-typography__subtitle-2 content">
                    Traumatology
                  </p>
                  <p class="ig-typography__caption content">
                    Friday, December 16, 2022 - Dr. J. Dean
                  </p>
                </div>
              </div>
              <button igxButton="icon" igxRipple class="button">
                <igx-icon>
                  keyboard_arrow_right
                </igx-icon>
              </button>
            </div>
          </span>
        </igx-list-item>
        <igx-list-item [isHeader]="false">
          <span igxListLine>
            <div class="row-layout group_5">
              <div class="row-layout group_6">
                <img src="/assets/appt-past.svg" class="image" />
                <div class="column-layout group_7">
                  <p class="ig-typography__subtitle-2 content">
                    Otorhinolaryngology
                  </p>
                  <p class="ig-typography__caption content">
                    Tuesday, December 13, 2022 - Dr. H. McNamara
                  </p>
                </div>
              </div>
              <button igxButton="icon" igxRipple class="button">
                <igx-icon>
                  keyboard_arrow_right
                </igx-icon>
              </button>
            </div>
          </span>
        </igx-list-item>
        <igx-list-item [isHeader]="false">
          <span igxListLine>
            <div class="row-layout group_5">
              <div class="row-layout group_6">
                <img src="/assets/appt-past.svg" class="image" />
                <div class="column-layout group_7">
                  <p class="ig-typography__subtitle-2 content">
                    Internal Medicine
                  </p>
                  <p class="ig-typography__caption content">
                    Monday, November 28, 2022 - Dr. M. Matthews
                  </p>
                </div>
              </div>
              <button igxButton="icon" igxRipple class="button">
                <igx-icon>
                  keyboard_arrow_right
                </igx-icon>
              </button>
            </div>
          </span>
        </igx-list-item>
      </igx-list>
    </div>
  </div>
</div>
<div class="row-layout group_8">
  <div class="column-layout group_1">
    <h6 class="content">
      Dermatology Appointment
    </h6>
    <div class="column-layout group_9">
      <div class="row-layout group_10">
        <igx-avatar src="/assets/Avatar4.png" shape="circle" class="avatar avatar_1"></igx-avatar>
        <div class="column-layout group_11">
          <p class="ig-typography__subtitle-2 text_1">
            Dr. Michael Matthews
          </p>
          <p class="ig-typography__body-2 text_1">
            Internal Medicine
          </p>
        </div>
      </div>
      <igx-list class="list">
        <igx-list-item [isHeader]="false">
          <span igxListThumbnail>
            <igx-avatar shape="circle" class="avatar avatar_2">
              <igx-icon>
                calendar_today
              </igx-icon>
            </igx-avatar>
          </span>
          <span igxListLineTitle>Tuesday, January 24, 2023</span>
        </igx-list-item>
        <igx-list-item [isHeader]="false">
          <span igxListThumbnail>
            <igx-avatar shape="circle" class="avatar avatar_3">
              <igx-icon>
                access_time
              </igx-icon>
            </igx-avatar>
          </span>
          <span igxListLineTitle>2:30pm - 2:45pm</span>
        </igx-list-item>
        <igx-list-item [isHeader]="false">
          <span igxListThumbnail>
            <igx-avatar shape="circle" class="avatar avatar_4">
              <igx-icon>
                location_on
              </igx-icon>
            </igx-avatar>
          </span>
          <span igxListLineTitle>Plainsboro Clinic </span>
          <span igxListLineSubTitle>1 Plainsboro Rd. Plainsboro, NJ 08536</span>
        </igx-list-item>
      </igx-list>
    </div>
    <div class="column-layout group_9">
      <p class="ig-typography__subtitle-2 text_2">
        REQUIREMENTS
      </p>
      <div class="column-layout group_12">
        <p class="ig-typography__body-2 content">
          - Recommended shower before appointment.
        </p>
        <p class="ig-typography__body-2 content">
          - Wear loose comfortable clothing.
        </p>
        <p class="ig-typography__body-2 content">
          - Avoid using makeup or nail polish before appointment.
        </p>
        <p class="ig-typography__body-2 content">
          - Don't try any new skin care products in the days prior to your appointment.
        </p>
        <p class="ig-typography__body-2 content">
          - Take your medications as scheduled. Your dermatologist needs to know their effects on your skin.

        </p>
      </div>
    </div>
    <div class="row-layout group_13">
      <button igxButton="flat" igxRipple [igxToggleAction]="cancelApptDialog" class="button_1">
        <igx-icon>
          close
        </igx-icon>
        <span>CANCEL</span>
      </button>
      <button igxButton="raised" igxRipple class="button_2">
        <igx-icon>
          calendar_today
        </igx-icon>
        <span>Add to Calendar</span>
      </button>
    </div>
  </div>
</div>
<igx-dialog [closeOnOutsideSelect]="true" [closeOnEscape]="true" #cancelApptDialog>
  <igx-dialog-title>
    <h5>
      Appointment Cancellation
    </h5>
  </igx-dialog-title>
  <ng-container>
    <p class="text_1">
      Are you sure you want to cancel your appointment?
    </p>
  </ng-container>
  <igx-dialog-actions>
    <button igxButton="flat" igxRipple [igxToggleAction]="cancelApptDialog" class="button_3">
      No, go back
    </button>
    <button igxButton="flat" igxRipple [igxToggleAction]="cancelApptDialog" class="button_4">
      Yes, cancel
    </button>
  </igx-dialog-actions>
</igx-dialog>
