<div class="row-layout group">
  <div class="column-layout group_1">
    <div class="column-layout group_2">
      <div class="row-layout group_3">
        <div class="row-layout group_4">
          <p class="ig-typography__subtitle-2 text">
            CURRENT MEDICATIONS
          </p>
        </div>
      </div>
      <igx-list class="list">
        <igx-list-item [isHeader]="false">
          <span igxListLine>
            <div class="row-layout group_5">
              <div class="row-layout group_6">
                <img src="/assets/Med2.svg" class="image" />
                <div class="column-layout group_7">
                  <p class="ig-typography__subtitle-2 content">
                    Calcium 500mg
                  </p>
                  <p class="ig-typography__caption content">
                    1 tablet(s), 1 time(s), daily, with meal
                  </p>
                </div>
              </div>
              <button igxButton="icon" igxRipple class="button">
                <igx-icon>
                  keyboard_arrow_right
                </igx-icon>
              </button>
            </div>
          </span>
        </igx-list-item>
        <igx-list-item [isHeader]="false">
          <span igxListLine>
            <div class="row-layout group_5">
              <div class="row-layout group_6">
                <img src="/assets/Med2.svg" class="image" />
                <div class="column-layout group_7">
                  <p class="ig-typography__subtitle-2 content">
                    Hydrolyzed Collagen
                  </p>
                  <p class="ig-typography__caption content">
                    2 scoop(s), 1 time(s), daily
                  </p>
                </div>
              </div>
              <button igxButton="icon" igxRipple class="button">
                <igx-icon>
                  keyboard_arrow_right
                </igx-icon>
              </button>
            </div>
          </span>
        </igx-list-item>
        <igx-list-item [isHeader]="false">
          <span igxListLine>
            <div class="row-layout group_5">
              <div class="row-layout group_6">
                <img src="/assets/Med2.svg" class="image" />
                <div class="column-layout group_7">
                  <p class="ig-typography__subtitle-2 content">
                    Vitamin B19 1000mg
                  </p>
                  <p class="ig-typography__caption content">
                    1 pill, 2 time(s), weekly, in the morning
                  </p>
                </div>
              </div>
              <button igxButton="icon" igxRipple class="button">
                <igx-icon>
                  keyboard_arrow_right
                </igx-icon>
              </button>
            </div>
          </span>
        </igx-list-item>
        <igx-list-item [isHeader]="false">
          <span igxListLine>
            <div class="row-layout group_5">
              <div class="row-layout group_6">
                <img src="/assets/Med2.svg" class="image" />
                <div class="column-layout group_7">
                  <p class="ig-typography__subtitle-2 content">
                    Vitamin D 100.000 IU
                  </p>
                  <p class="ig-typography__caption content">
                    1 capsule, 1 time(s), trimonthly, with main meal
                  </p>
                </div>
              </div>
              <button igxButton="icon" igxRipple class="button">
                <igx-icon>
                  keyboard_arrow_right
                </igx-icon>
              </button>
            </div>
          </span>
        </igx-list-item>
      </igx-list>
    </div>
    <div class="column-layout group_2">
      <div class="row-layout group_3">
        <div class="row-layout group_4">
          <p class="ig-typography__subtitle-2 text">
            EXPIRED PRESCRIPTIONS
          </p>
        </div>
      </div>
      <igx-list class="list">
        <igx-list-item [isHeader]="false">
          <span igxListLine>
            <div class="row-layout group_5">
              <div class="row-layout group_6">
                <img src="/assets/meds-expired.svg" class="image" />
                <div class="column-layout group_7">
                  <p class="ig-typography__subtitle-2 content">
                    Hypersol B Nasal Spray
                  </p>
                  <p class="ig-typography__caption content">
                    1 spray, 3 time(s) / day, each nostril, for 7 days
                  </p>
                </div>
              </div>
              <button igxButton="icon" igxRipple class="button">
                <igx-icon>
                  keyboard_arrow_right
                </igx-icon>
              </button>
            </div>
          </span>
        </igx-list-item>
        <igx-list-item [isHeader]="false">
          <span igxListLine>
            <div class="row-layout group_5">
              <div class="row-layout group_6">
                <img src="/assets/meds-expired.svg" class="image" />
                <div class="column-layout group_7">
                  <p class="ig-typography__subtitle-2 content">
                    Prednisone 20mg
                  </p>
                  <p class="ig-typography__caption content">
                    1 tablet, 2 time(s) / day, with food, for 7 days
                  </p>
                </div>
              </div>
              <button igxButton="icon" igxRipple class="button">
                <igx-icon>
                  keyboard_arrow_right
                </igx-icon>
              </button>
            </div>
          </span>
        </igx-list-item>
      </igx-list>
    </div>
  </div>
</div>
<div class="row-layout group_8">
  <div class="column-layout group_9">
    <h6 class="content">
      Calcium 500mg
    </h6>
    <div class="row-layout group_10">
      <div class="column-layout group_11">
        <p class="ig-typography__overline text_1">
          DOSAGE
        </p>
        <div class="row-layout group_10">
          <div class="row-layout group_12">
            <p class="ig-typography__subtitle-2 text_1">
              1
            </p>
          </div>
          <div class="row-layout group_12">
            <p class="ig-typography__subtitle-2 text_1">
              tablet
            </p>
          </div>
        </div>
      </div>
      <div class="column-layout group_11">
        <p class="ig-typography__overline text_1">
          FREQUENCY
        </p>
        <div class="row-layout group_10">
          <div class="row-layout group_12">
            <p class="ig-typography__subtitle-2 text_1">
              1 time(s)
            </p>
          </div>
          <div class="row-layout group_12">
            <p class="ig-typography__subtitle-2 text_1">
              daily
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="column-layout group_13">
      <p class="ig-typography__subtitle-2 text_2">
        INDICATIONS
      </p>
      <p class="ig-typography__body-2 content">
        Take by mouth with breakfast.
      </p>
      <p class="ig-typography__body-2 content">
        Gador Calcium 500 mg Tablets are Calcium supplements formulated to help support bone strength. Sourced from high quality ingredients, these gluten free Nature Made Calcium 500 mg contain no color added and no artificial flavors. This gluten free Calcium supplement is perfect for adults who are low in Calcium or want an additional dietary supplement with their diet. Adults, take one of these Calcium tablet bone supplements 1 to 2 times daily with water and a meal. 
      </p>
      <a target="_blank" class="ig-typography__body-2 hyperlink">
        + View more information
      </a>
    </div>
    <div class="column-layout group_13">
      <p class="ig-typography__subtitle-2 text_2">
        PRESCRIPTION INFO
      </p>
      <div class="column-layout group_14">
        <div class="row-layout group_15">
          <p class="ig-typography__subtitle-2 text_3">
            Refills Left:
          </p>
          <p class="ig-typography__body-2 content">
            4
          </p>
        </div>
        <div class="row-layout group_15">
          <p class="ig-typography__subtitle-2 text_3">
            Last Refill:
          </p>
          <p class="ig-typography__body-2 content">
            1/10/2023
          </p>
        </div>
        <div class="row-layout group_15">
          <p class="ig-typography__subtitle-2 text_3">
            Prescribed by:
          </p>
          <p class="ig-typography__body-2 content">
            Dr. Robert Stevens
          </p>
        </div>
      </div>
    </div>
    <div class="row-layout group_16">
      <button igxButton="flat" igxRipple class="button_1">
        <igx-icon>
          alarm_add
        </igx-icon>
        <span>Set reminder</span>
      </button>
      <button igxButton="raised" igxRipple class="button_2">
        <igx-icon>
          replay
        </igx-icon>
        <span>REQUEST REFILL</span>
      </button>
    </div>
  </div>
</div>
