/* You can add global styles to this file, and also import other style files */

// Standard CSS normalize, comment out if not required or using a different module
@use "minireset.css/minireset";
@use "igniteui-angular/theming" as *;

@include core();
@include typography($font-family: "Nunito Sans");

$custom-palette: palette(
  $primary: #F03F20,
  $secondary: #38143B,
  $surface: #18091A,
  $error: #B81C4C,
  $success: #439C47,
  $info: #3F51B5);
@include theme($palette: $custom-palette, $schema: $dark-material-schema, $elevation: false, $roundness: 0);

body {
  background: hsla(var(--ig-surface-500));
  color: var(--ig-surface-500-contrast);
}

html, body {
  height: 100%;
}

.ig-typography {
  h1, h2, h3, h4, h5, h6, p, .ig-typography__body-1 {
    margin: 0;
  }
}

.outer-wrapper > *:not(router-outlet) {
  width: 100%;
}
