/* You can add global styles to this file, and also import other style files */

// Standard CSS normalize, comment out if not required or using a different module
@use "minireset.css/minireset";
@use "igniteui-angular/theming" as *;

@include core();
@include typography($font-family: "Montserrat");

$custom-palette: palette(
  $primary: #56C596,
  $secondary: #205072,
  $surface: #fff,
  $error: #CC333F,
  $success: #97c556,
  $warn: #eb8541,
  $info: #329D9C);
@include theme($palette: $custom-palette, $elevation: false);

body {
  background: hsla(var(--ig-surface-500));
  color: var(--ig-surface-500-contrast);
}

html, body {
  height: 100%;
}

.ig-typography {
  h1, h2, h3, h4, h5, h6, p, .ig-typography__body-1 {
    margin: 0;
  }
}

.outer-wrapper > *:not(router-outlet) {
  width: 100%;
}
