<div class="column-layout group">
  <div class="row-layout group_1">
    <div routerLink="/health-indicators" class="column-layout group_2">
      <img src="/assets/HRate-White.svg" class="image" />
      <p class="ig-typography__subtitle-2 content">
        HEART RATE
      </p>
      <div class="row-layout group_3">
        <div class="row-layout group_4">
          <h4 class="content">
            82
          </h4>
          <h6 class="content">
            bpm
          </h6>
        </div>
        <p class="ig-typography__subtitle-2 content">
          +1.12%
        </p>
      </div>
    </div>
    <div routerLink="/health-indicators" class="column-layout group_5">
      <img src="/assets/BPressure-White.svg" class="image_1" />
      <p class="ig-typography__subtitle-2 content">
        BLOOD PRESSURE
      </p>
      <div class="row-layout group_3">
        <div class="row-layout group_4">
          <h4 class="content">
            140
          </h4>
          <h4 class="content">
            /
          </h4>
          <h4 class="content">
            70
          </h4>
          <h6 class="content">
            mmHg
          </h6>
        </div>
        <p class="ig-typography__subtitle-2 content">
          +1.12%
        </p>
      </div>
    </div>
    <div routerLink="/health-indicators" class="column-layout group_6">
      <img src="/assets/Cholesterol-White.svg" class="image_1" />
      <p class="ig-typography__subtitle-2 content">
        CHOLESTEROL
      </p>
      <div class="row-layout group_3">
        <div class="row-layout group_4">
          <h4 class="content">
            200
          </h4>
          <h6 class="content">
            mg/dL
          </h6>
        </div>
        <p class="ig-typography__subtitle-2 content">
          +1.12%
        </p>
      </div>
    </div>
    <div routerLink="/health-indicators" class="column-layout group_7">
      <img src="/assets/Scale-White.svg" class="image_2" />
      <p class="ig-typography__subtitle-2 content">
        WEIGHT
      </p>
      <div class="row-layout group_3">
        <div class="row-layout group_4">
          <h4 class="content">
            112
          </h4>
          <h6 class="content">
            lbs
          </h6>
        </div>
        <p class="ig-typography__subtitle-2 content">
          +1.12%
        </p>
      </div>
    </div>
  </div>
  <div class="row-layout group_8">
    <div class="column-layout group_9">
      <div class="row-layout group_10">
        <div class="row-layout group_4">
          <p class="ig-typography__subtitle-2 text">
            CURRENT MEDICATIONS
          </p>
        </div>
        <div routerLink="/medications" class="row-layout group_11">
          <a target="_blank" class="ig-typography__body-2 hyperlink">
            View all
          </a>
          <igx-icon class="icon">
            arrow_forward
          </igx-icon>
        </div>
      </div>
      <igx-list class="list">
        <igx-list-item [isHeader]="false" routerLink="/medications">
          <span igxListLine>
            <div class="row-layout group_12">
              <div class="row-layout group_13">
                <img src="/assets/Med2.svg" class="image_3" />
                <div class="column-layout group_14">
                  <p class="ig-typography__subtitle-2 text_1">
                    Calcium 500mg
                  </p>
                  <p class="ig-typography__caption text_1">
                    1 tablet(s), 1 time(s), daily, with meal
                  </p>
                </div>
              </div>
              <button igxButton="icon" igxRipple routerLink="/medications" class="button">
                <igx-icon>
                  keyboard_arrow_right
                </igx-icon>
              </button>
            </div>
          </span>
        </igx-list-item>
        <igx-list-item [isHeader]="false" routerLink="/medications">
          <span igxListLine>
            <div class="row-layout group_12">
              <div class="row-layout group_13">
                <img src="/assets/Med2.svg" class="image_3" />
                <div class="column-layout group_14">
                  <p class="ig-typography__subtitle-2 text_1">
                    Hydrolyzed Collagen
                  </p>
                  <p class="ig-typography__caption text_1">
                    2 scoop(s), 1 time(s), daily
                  </p>
                </div>
              </div>
              <button igxButton="icon" igxRipple routerLink="/medications" class="button">
                <igx-icon>
                  keyboard_arrow_right
                </igx-icon>
              </button>
            </div>
          </span>
        </igx-list-item>
        <igx-list-item [isHeader]="false" routerLink="/medications">
          <span igxListLine>
            <div class="row-layout group_12">
              <div class="row-layout group_13">
                <img src="/assets/Med2.svg" class="image_3" />
                <div class="column-layout group_14">
                  <p class="ig-typography__subtitle-2 text_1">
                    Vitamin B19 1000mg
                  </p>
                  <p class="ig-typography__caption text_1">
                    1 pill, 2 time(s), weekly, in the morning
                  </p>
                </div>
              </div>
              <button igxButton="icon" igxRipple routerLink="/medications" class="button">
                <igx-icon>
                  keyboard_arrow_right
                </igx-icon>
              </button>
            </div>
          </span>
        </igx-list-item>
        <igx-list-item [isHeader]="false" routerLink="/medications">
          <span igxListLine>
            <div class="row-layout group_12">
              <div class="row-layout group_13">
                <img src="/assets/Med2.svg" class="image_3" />
                <div class="column-layout group_14">
                  <p class="ig-typography__subtitle-2 text_1">
                    Vitamin D 100.000 IU
                  </p>
                  <p class="ig-typography__caption text_1">
                    1 capsule, 1 time(s), trimonthly, with main meal
                  </p>
                </div>
              </div>
              <button igxButton="icon" igxRipple routerLink="/medications" class="button">
                <igx-icon>
                  keyboard_arrow_right
                </igx-icon>
              </button>
            </div>
          </span>
        </igx-list-item>
      </igx-list>
    </div>
    <div class="column-layout group_9">
      <div class="row-layout group_10">
        <div class="row-layout group_4">
          <p class="ig-typography__subtitle-2 text">
            UPCOMING APPOINTMENTS
          </p>
        </div>
        <div routerLink="/appointments" class="row-layout group_11">
          <a target="_blank" class="ig-typography__body-2 hyperlink">
            View all
          </a>
          <igx-icon class="icon">
            arrow_forward
          </igx-icon>
        </div>
      </div>
      <igx-list class="list">
        <igx-list-item [isHeader]="false" routerLink="/appointments">
          <span igxListLine>
            <div class="row-layout group_12">
              <div class="row-layout group_13">
                <img src="/assets/appt-upcoming.svg" class="image_4" />
                <div class="column-layout group_14">
                  <p class="ig-typography__subtitle-2 text_1">
                    Internal Medicine
                  </p>
                  <p class="ig-typography__caption text_1">
                    Tuesday, January 24, 2023 - 2:30pm - Dr. M. Matthews
                  </p>
                </div>
              </div>
              <button igxButton="icon" igxRipple routerLink="/appointments" class="button">
                <igx-icon>
                  keyboard_arrow_right
                </igx-icon>
              </button>
            </div>
          </span>
        </igx-list-item>
        <igx-list-item [isHeader]="false" routerLink="/appointments">
          <span igxListLine>
            <div class="row-layout group_12">
              <div class="row-layout group_13">
                <img src="/assets/appt-upcoming.svg" class="image_4" />
                <div class="column-layout group_14">
                  <p class="ig-typography__subtitle-2 text_1">
                    Dermatology
                  </p>
                  <p class="ig-typography__caption text_1">
                    Friday, February 24, 2023 - 08:45am - Dr. V. Sawyer
                  </p>
                </div>
              </div>
              <button igxButton="icon" igxRipple routerLink="/appointments" class="button">
                <igx-icon>
                  keyboard_arrow_right
                </igx-icon>
              </button>
            </div>
          </span>
        </igx-list-item>
        <igx-list-item [isHeader]="false" routerLink="/appointments">
          <span igxListLine>
            <div class="row-layout group_12">
              <div class="row-layout group_13">
                <img src="/assets/appt-upcoming.svg" class="image_4" />
                <div class="column-layout group_14">
                  <p class="ig-typography__subtitle-2 text_1">
                    Gynaecology
                  </p>
                  <p class="ig-typography__caption text_1">
                    Monday, March 6, 2023 - 6:30pm - Dr. J. Dean
                  </p>
                </div>
              </div>
              <button igxButton="icon" igxRipple routerLink="/appointments" class="button">
                <igx-icon>
                  keyboard_arrow_right
                </igx-icon>
              </button>
            </div>
          </span>
        </igx-list-item>
      </igx-list>
    </div>
  </div>
</div>
