:host {
  height: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: stretch;
  align-content: flex-start;
}
.column-layout {
  display: flex;
  flex-direction: column;
}
.group {
  background-color: rgba(256, 256, 256, 0.6);
  justify-content: flex-start;
  align-items: stretch;
  align-content: flex-start;
  gap: 40px;
  overflow: auto;
  position: relative;
  padding: 32px;
  min-width: 50px;
  min-height: 50px;
  flex-grow: 1;
  flex-basis: 0;
}
.row-layout {
  display: flex;
}
.group_1 {
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: stretch;
  align-content: flex-start;
  gap: 20px;
  position: relative;
  min-width: 50px;
  min-height: 50px;
  flex-shrink: 0;
}
.group_2 {
  background-color: #DFA8BB;
  background-image: url("/assets/kpi-hrate.svg");
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 13px;
  justify-content: center;
  align-items: stretch;
  align-content: flex-start;
  gap: 4px;
  position: relative;
  padding: 20px;
  min-width: 280px;
  flex-grow: 1;
  flex-basis: 0;
}
.group_3 {
  justify-content: space-between;
  align-items: baseline;
  align-content: flex-start;
  position: relative;
}
.group_4 {
  justify-content: flex-start;
  align-items: baseline;
  align-content: flex-start;
  gap: 4px;
  position: relative;
  min-width: 50px;
}
.group_5 {
  background-color: #C8AFCF;
  background-image: url("/assets/kpi-bp.svg");
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 13px;
  justify-content: center;
  align-items: stretch;
  align-content: flex-start;
  gap: 4px;
  position: relative;
  padding: 20px;
  min-width: 280px;
  flex-grow: 1;
  flex-basis: 0;
}
.group_6 {
  background-color: #FFBE88;
  background-image: url("/assets/kpi-cholesterol.svg");
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 13px;
  justify-content: center;
  align-items: stretch;
  align-content: flex-start;
  gap: 4px;
  position: relative;
  padding: 20px;
  min-width: 280px;
  flex-grow: 1;
  flex-basis: 0;
}
.group_7 {
  background-color: #70C3A1;
  background-image: url("/assets/kpi-weight.svg");
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 13px;
  justify-content: center;
  align-items: stretch;
  align-content: flex-start;
  gap: 4px;
  position: relative;
  padding: 20px;
  min-width: 280px;
  flex-grow: 1;
  flex-basis: 0;
}
.group_8 {
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: stretch;
  align-content: stretch;
  gap: 40px;
  position: relative;
  min-width: 50px;
  min-height: 50px;
}
.group_9 {
  justify-content: flex-start;
  align-items: stretch;
  align-content: flex-start;
  gap: 16px;
  position: relative;
  min-width: 360px;
  min-height: 50px;
  flex-grow: 1;
  flex-basis: 0;
}
.group_10 {
  justify-content: space-between;
  align-items: center;
  align-content: flex-start;
  gap: 8px;
  position: relative;
  min-width: 50px;
}
.group_11 {
  justify-content: flex-start;
  align-items: stretch;
  align-content: flex-start;
  gap: 8px;
  position: relative;
  min-width: 50px;
}
.group_12 {
  border-color: #CDE0C9;
  border-width: 0px 0px 1px;
  border-style: solid;
  justify-content: space-between;
  align-items: center;
  align-content: flex-start;
  position: relative;
  padding: 0 0 16px;
  min-width: 50px;
  min-height: 50px;
}
.group_13 {
  justify-content: flex-start;
  align-items: center;
  align-content: flex-start;
  position: relative;
  min-width: 50px;
  min-height: 50px;
}
.group_14 {
  justify-content: center;
  align-items: stretch;
  align-content: flex-start;
  position: relative;
  padding: 0 0 0 24px;
  min-width: 50px;
  min-height: 50px;
}
.image {
  object-fit: cover;
  width: 28px;
  height: 24px;
  min-width: 0;
  min-height: 0;
  max-width: 28px;
  max-height: 24px;
  flex-shrink: 0;
}
.content {
  color: white;
  height: max-content;
  min-width: min-content;
}
.image_1 {
  object-fit: cover;
  width: 24px;
  height: 28px;
  min-width: 0;
  min-height: 0;
  max-width: 24px;
  max-height: 28px;
  flex-shrink: 0;
}
.image_2 {
  object-fit: cover;
  width: 24px;
  height: 24px;
  min-width: 0;
  min-height: 0;
  max-width: 24px;
  max-height: 24px;
  flex-shrink: 0;
}
.text {
  color: hsla(var(--ig-info-500));
  margin: 0 8px 0 0;
  height: max-content;
  min-width: min-content;
}
.hyperlink {
  color: hsla(var(--ig-primary-900));
  height: max-content;
  min-width: min-content;
  flex-shrink: 0;
}
.icon {
  --size: 18px;
  font-size: 18px;
  width: 18px;
  height: 18px;
  color: hsla(var(--ig-primary-800));
}
.image_3 {
  object-fit: cover;
  height: 26px;
  min-width: 0;
  min-height: 0;
  max-height: 26px;
  flex-shrink: 0;
}
.text_1 {
  color: hsla(var(--ig-secondary-500));
  height: max-content;
  min-width: min-content;
}
.image_4 {
  object-fit: cover;
  height: 28px;
  min-width: 0;
  min-height: 0;
  max-height: 28px;
  flex-shrink: 0;
}
.list {
  height: max-content;
}
.button {
  --igx-button-foreground: hsla(var(--ig-primary-800));
}
